<nav class="navbar">
<ul class="left">
    <li class="left-list-item containter-icon">
        <a class="icon" href="/"><img class="primary-icon" src="/images/logo.png"></a>
    </li>
</ul>

<ul class="right" id="right">
    <div class="right-text-container" id="right-text-container">
        <li class="right-list-item text">
            <a class="text" href="/">Users</a>
        </li>
        <li class="right-list-item text">
            <a class="text" href="/viewProductsPage">Products</a>
        </li>
        <li class="right-list-item text">
            <a class="text" href="/viewOrdersPage">Orders</a>
        </li>
        <li class="right-list-item text">
            <a class="text" href="/viewFeedbacksPage">Feedback</a>
        </li>
         <li class="right-list-item text">
            <a class="text" href="/logout">Log Out</a>
        </li>
    </div>
</ul>

<div class="menu" id="toggle-button">
    <div class="menu-line"></div>
    <div class="menu-line"></div>
    <div class="menu-line"></div>
</div>
</nav>