<div class="details-content">
    <p class="det-header">Change Password</p>
    <hr class="line-break">
    <div class="break2"></div>
    <p id="reminder" font-size="8">Required format: Between 8-64 characters with at least one uppercase letter, one lowercase letter, one number, and one special character.</p>
    <form action="/updatePassword" method="post">
        <div class="field">
            <input type="password" class="field-value" id="oldPsw" placeholder="Enter Current Password" name="oldPsw">
        </div>
        <div class="break2"></div>
        <div class="field">
            <input type="password" class="field-value" id="newPsw" placeholder="Enter New Password" name="newPsw">
        </div>
        <div class="break2"></div>
        <div class="field">
            <input type="password" class="field-value" id="confNewPsw" placeholder="Confirm New Password" name="confNewPsw">
        </div>
        <div class="break2"></div>
        <p id="error">{{error_msg}}</p>
        <div class="break2"></div>
        <div class="buttons">
            <button type="submit" class="btn" id="update" disabled><strong>Save Password</strong></button>
            <button type="button" class="btn" id="cancel"><strong>Cancel</strong></button>
        </div>
    </form>
</div>