<html>
    <head>
		<title>The Hungry Sibs</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" href="css/forms.css"/>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="text/javascript" src="js/login.js"></script>
    </head>

    <body>
        <div class="split left">
            <div class="centered">
              <img src="images/logo.png">
              <h1 id="welcome">Welcome Back!</h1>
              <p id="description">Enter your sign in details to start ordering.</p>
            </div>
          </div>
          
          <div class="split right">
              <div class="container">
                <h1 id="header">2-Factor Authentication</h1>
                <form action="/verify2FA" method="post">
                    <label for="otc"><b>One-Time Code</b></label><br>
                    <input type="text" id="otc" placeholder="Enter OTC" name="otc" required><br>
                    <div class="break"></div>

                    <!-- Flash message rendered as HTML -->
                    <p id="error">{{{error_msg}}}</p>

                    <button type="submit" id="signin-submit"><strong>Submit</strong></button>
                    
                </form>
            </div>
          </div>
    </body>
</html>