<div class="break1"></div>

<div class="container">
    <div class="acc-details-list">
        <p id="mini-header">My Account</p>
        <ul class="list-proper">
            <li>
                <a class="account-details-nav" href="/profile">Profile</a>
            </li>
            <li>
                <a class="account-details-nav">Addresses</a> <!-- href="/addresses" -->
            </li>
            <li>
                <a class="account-details-nav">Delete Account</a> <!-- href="/delete" -->
            </li>
            <li>
                <a class="account-details-nav" href="/logout">Log Out</a>
            </li>
        </ul>
    </div>
    
    {{> (lookup . 'partialName')}}
</div>