@font-face{
    src: url(fonts/Poppins-Regular.ttf);
    font-family: poppins;
}

@font-face{
    src: url(fonts/Poppins-Bold.ttf);
    font-family: poppinsbold;
}

.break {
    clear: both;
    height: 20px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }

.centered img {
    max-width: 30%;
    max-height: 30%;
    border-radius: 50%;
}

/* .container {
    
} */

.edit-product-container {
    width: 50%; /* Adjust width as needed */
    margin: 0 auto; /* Center horizontally */
    text-align: center; /* Center text and inline elements */
}

.container form {
    display: inline-block; /* Ensures form elements are inline */
    text-align: left; /* Center form elements */
    width: 100%
}

.container form label {
    text-align: left; /* Aligns labels to the left */
}

#welcome {
    color: white;
    font-family: poppinsbold;
}

p {
    font-family: poppins;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
}

#description {
    color: white;
    font-size: 20px;
}

#header {
    font-family: poppinsbold;
    text-align: center;
    margin-bottom: 20px;
}

#error {
    color: #c93020;
}

#success {
    color: #5cb85c;
}

label, input {
    font-family: poppins;
    text-align: left;
}

input[type=text], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: left;
}

a {
    color: #c93020;
    font-family: poppinsbold;
    font-size: 15px;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: black;
}

#save-changes-submit {
    background-color: #ffc700;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    width: 100%;
    min-height: 50.5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#discard-changes {
    background-color:  #ffc700;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    width: 100%;
    min-height: 50.5px;
    margin-top: 20px;
    margin-bottom: 60px;
}

#discard-changes:hover, #save-changes-submit:not([disabled]):hover {
    cursor: pointer;
    background-color: whitesmoke;
}

#save-changes-submit:disabled {
    cursor: auto;
    background-color: lightgray;
}


