.container {
    padding: 10px 100px 10px 100px;
}

.two-fields {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.field-one, .field-two {
    margin-right: 20px;
    flex-grow: 1;
}